<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="card my-5">
        <div class="card-body">

          <div class="col-12"><img src="assets/bhoslogo.png" class="img-fluid" alt="logo" [style.width]="logoWidh" />
          </div>


          <h5 class="my-4 d-flex justify-content-center fs-4">{{ loginTile }}</h5>
          <form [formGroup]="signInForm" (ngSubmit)="submitForm()">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInput" value="info@codedthemes.com"
                     formControlName="email" />
              <label for="floatingInput" class="fs-5">E-poçt ünvanı</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="password" value="12345" formControlName="password" />
              <label for="password" class="fs-5">Şifrə</label>
            </div>
            <!-- <div class="d-flex mt-1 justify-content-between">
               <div class="form-check">
                 <input class="form-check-input input-primary" type="checkbox" id="customCheckc1" checked="" />
                 <label class="form-check-label text-muted" for="customCheckc1">Remember me</label>
               </div>
               <h5 class="text-secondary">
                 <a href="javascript:">Forgot Password?</a>
               </h5>
             </div>-->
            <div class="d-grid mt-4">
              <button type="submit" class="btn btn-primary fs-4" [disabled]="!signInForm.valid">Sign
                In
              </button>
            </div>
            <hr />
            <h5 class="d-flex justify-content-center">
              <p class="text-primary-emphasis fs-4">&COPY;{{year}}</p>
            </h5>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
